# Notes:
#   Use the script tools/create_venv.sh to install these dependencies on helios

flake8
pytest
pytest-cov

tensorflow_gpu==2.0.0 # Keep fixed
pandas
jsonschema
tqdm
h5py
pyyaml
matplotlib
numpy
tensorboard
jupyter
spacy==2.2.2
sacrebleu==1.4.3
